/* CONFIG INIZIALE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
font-family: 'Arial', sans-serif;
}

header {
    height: 10vh;
    background-color: orange;
    padding: 3vh;
    display: flex;
}

.logo {
    width: 10%;
    align-content: center;
    justify-content: center;

}

.left-menu {
    width: 40%;
    align-content: center;
    justify-content: center;
    padding: 10px;


}

.right-menu {
    width: 40%;
    align-content:center;
    padding: 10px;
}

.login-button {
    width: 10%;
    align-content: center;
    padding: 10px;

}

.right-menu > ul li {
    list-style: none;
    display: inline-block;
}

.left-menu > ul li {
    list-style: none;
    display: inline-block;
}


.hero-container {
    height: 50vh;
    background-color: azure;
}

.hero-section {
    border: 2px dashed red;
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

.hero-title {
    height: 20%;
    border: 2px dashed red;
}

.flex-item {
    display: flex;
    border: 2px dashed red;
    height: 80%;
}

.hero-info {
    width: 40%;
    border: 2px dashed red;

}

.hero-img {
    width: 60%;
    border: 2px dashed red;
}

.hero-img > img {
    height: 110%;
    width: 110%;
}

.plan-section {
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    margin-top: 50px;
    border: 2px dashed red;

}

.plan-choise {
    height: 10%;
    border: 2px dashed red;

}

.plan-column {
    display: flex;
    height: 90%;
    justify-content: center;
    border: 2px dashed red;
}

.first-column, .second-column, .third-column {

    width: 25%;
    height: 100%;
    border: 2px dashed red;
    margin: 0 auto;

}


.team-section {
    width: 70%;
    margin: 0 auto;
    height: 20vh;
    border: 2px dashed red;
}

.partner-section {
    margin-top: 30vh;
    
}