
/* CONTAINER */

.container {
    margin: 0 auto;
    max-width: 1100px;
    min-height: 500px;
    margin-top: 50px;
    border: 2px dashed red;

}

.hero-container {
    background-color: azure;
}

.container-large {
    border: 2px dashed red;
    max-width: 1300px;
    margin: 0 auto;
    height: 500px;
}


/* HEADER */

header {
    padding: 10px;
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;

    background-color: white;
}


.main-nav {
    width: 100%;
}


.main-nav ul li {
    list-style: none;
    padding-left: 30px;
}


.main-nav ul li {
    display: inline-block;
    height: 100%;
    align-items: center;
}

.main-nav ul li a {
    vertical-align: middle;
    color: black;
    text-decoration: none;
}


.main-nav ul li:hover {
    border-bottom: 2px solid black;
}


.main-nav #logo:hover {
    border-bottom: none;
}

.main-nav .my-btn:hover {
    border-bottom: none;
}

.my-btn {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    text-align: center;
}


/* HERO SECTION */

#hero-container {
    background-color: azure;
}

.hero-title {
    height: 35%;
    font-size: 2em;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    font-weight: bold;
}

.hero-info {
    width: 40%;
    padding-left: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;


}

.hero-img {
    width: 60%;
}

.hero-img > img {
    height: 100%;
    width: 100%;
}




/* MAIN */

main {
    margin-top: 100px;
}



.plan-choise {
    height: 100px;
}

.plan-column {
    margin: 0 auto;
    min-height: 600px;
    border: 1px solid lightgrey;
}

.plan-column ul {
    list-style: none;
}

.plan-column ul li {
    text-indent: -10px;
    padding-left: 40px;
}





#team {
    height: 300px;
}


#partner-container {
    height: 600px;
}


#partner-container > div {
    height: 400px;
    background-color: darkgoldenrod;
    border: 2px dashed blue;
}

#info-section .dflex > div {
    height: 400px;
    background-color: darkgoldenrod;
    border: 2px dashed blue;
}

.info-column {
    height: 300px;
    border: 1px dashed red;
    flex-grow: 2;
}

.big-box {
    width: calc(100%/3);
    height: calc(100vw/3);
    border: dashed red 2px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.big-box > div {
    width: 50%;
    height: 50%;
    border: 2px dashed red;
}

.big-box > img {
    width: 100%;
    height: 100%;
}

.img-box img {
    height: 100%;
    width: 100%;
}




.big-box.asu {
    background-color: #61082B;
}

.big-box.uf {
    background-color: #0093CE;
}

.big-box.topps {
    background-color: #FF1C1C;
}

.big-box.wbr {
    background-color: #D5001F;
}

.big-box.hearts {
    background-color: #B4D0E7;
}

.big-box.lonely {
    background-color: #0D2481;
}

.big-box.cco {
    background-color: #FFD830;
}




#testimonial {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #222;
    color: white;
}

footer ul li {
    list-style: none;
}

.footer-container {
    margin: 0 auto;
}